.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../../../public/assets/images/Background.png");
  /* background-image: url(""); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.LoginTitleWrapper {
  margin-top: 40px;
}

.LoginTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.LoginTitle h1 {
  margin: 0;
}

.socialLogin {
  /* width: 300px; */
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialLogin a {
  cursor: pointer;
  display: block;
  width: 300px;
  margin: 8px 0 4px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 15px lightgrey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
}
.socialLogin > p {
  cursor: pointer;
  display: block;
  width: 300px;
  margin: 8px 0 4px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 15px lightgrey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s;
}
.PlayButton {
  width: 310px;
  height: 110px;
  border-radius: 10px;
  margin-top: 50px;
}
.PlayButton > button {
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 28px;
  background-color: #fcd172;
  border: 1px lightgray;
  border-radius: 20px;
  box-shadow: 3px 3px 20px lightgray;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: transform 0.5s;
}
.PlayButton > button:hover {
  background-color: #fe9d00;
  transform: scale(1.05, 1.05);
}

.socialLogin a:hover {
  box-shadow: 0px 0px 15px gray;
}
.socialLogin a:nth-child(1) {
  background-color: white;
}

.socialLogin > p {
  background-color: #03c75a;
}

.socialLogin a:nth-child(3) {
  background-color: #fee500;
}

.socialLogin a img {
  width: 50px;
  border-radius: 25%;
}
.socialLogin p img {
  width: 50px;
  border-radius: 25%;
}
.LoginWrapper {
  width: 60%;
  height: 72%;
  background-color: rgba(251, 251, 251, 0.8);
  border-radius: 20px;
  box-shadow: 5px 5px 20px lightgray;
}
.loginbuttonlabel {
  font-size: 30px;
  margin: 10px;
}
.waviy div {
  text-transform: uppercase;
  animation: waviy 5s infinite;
  animation-delay: calc(0.2s * var(--i));
  margin: 5px;
  text-shadow: -2px 0 rgb(255, 222, 122), 0 2px rgb(255, 222, 122),
    2px 0 rgb(255, 198, 26), 0 -2px rgb(255, 222, 122);
  color: rgb(154, 87, 0);
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
.loginCenter {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loginCenter img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.WhatIsOurServiceBtnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.WhatIsOurServiceBtn {
  width: fit-content;
  height: 40px;
  padding: 5px 15px;
  background-color: #c0bab1;
  display: flex;
  border-radius: 10px;
  box-shadow: 10px 10px 20px lightgray;
  cursor: pointer;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
}
.WhatIsOurServiceBtn:hover {
  background-color: #948f87;
}
.displayBlock {
  display: block;
}
.displayHidden {
  display: none;
  z-index: -1;
}
