.mainUI {
    /* width: 100vw;
    height: 100vh; */
    position: absolute;
    z-index: 10;
}

.mainUI .screenCapture {
    top: 1;
    margin-left: 85vw;
    background-color: pink;
    cursor: pointer;
}