.LineNextButton {
  border-radius: 20px;
  background-color: #fff562;
  height: fit-content;
  width: 130px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  font-weight: 700;
  cursor: pointer;
  margin-right: 150px;
  margin-bottom: 15px;
  font-size: 20px;
}
.LineSkipButton {
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #feb653;
  width: 130px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 20px;
}
.LineENDButton {
  margin: 0 140px 55px 0;
  border-radius: 20px;
  background-color: #feb653;
  height: 90px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: transform 250ms;
  box-shadow: 3px 3px 20px lightgray;
  font-size: 28px;
  cursor: pointer;
}

.LineNextButton:hover {
  transition: background-color 0.3s;
  background-color: #ffd000;
}
.LineSkipButton:hover {
  background-color: #ff9500;
}
.LineENDButton:hover {
  transform: scale(1.1, 1.1);
  background: #ff9500;
}
.LineContext {
  background-color: #fff;
  width: 90%;
  padding: 70px;
  height: 230px;
  margin: 10px;
  border-radius: 20px;
  font-size: 20px;
}
.InnerContextNone {
  animation: "none";
}
.InnerContext {
  /* width: max-content; */
  position: relative;
}
.InnerContext::before,
.InnerContext::after {
  content: "";
  position: absolute;
  inset: 0;
}

.InnerContext::before {
  background: white;
  /* animation: typing 500ms steps(25) 1s forwards; */
}

.InnerContext::after {
  width: 0.2rem;
  background: black;
  /* animation: typing 500ms steps(25) 1s forwards, blink 800ms infinite; */
}
@keyframes typing {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.mouseCursor {
  /* width: 30px; */
  position: absolute;
  z-index: 1;
  margin-top: 14vh;
  margin-left: 2vw;
  animation: cursor 500ms linear alternate infinite;
}

@keyframes cursor {
  from {
    width: 60px;
  }
  to {
    width: 50px;
  }
}